<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="si.gto76.bicikl_pp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <permission
        android:name="si.gto76.bicikl_pp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!--
    <uses-permission android:name="YourPackageName.permission.MAPS_RECEIVE" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AMap"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AStations"
            android:label="@string/title_activity_stations"
            android:parentActivityName=".AMap" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.gto76.bicikl_pp.Map" />
        </activity>
        <activity
            android:name=".APaths"
            android:label="@string/title_activity_paths"
            android:parentActivityName=".AMap" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.gto76.bicikl_pp.Map" />
        </activity>
        <activity
            android:name=".AStation"
            android:label="@string/title_activity_station"
            android:parentActivityName=".AMap" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.gto76.bicikl_pp.Map" />
        </activity>

        <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCTBXziQ9NtE633QxhmSqEhRTgfgGldrrk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AOptions"
            android:label="@string/title_activity_aoptions"
            android:parentActivityName=".AMap" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.gto76.bicikl_pp.AMap" />
        </activity>
    </application>

</manifest>